@import "bootstrap/bootstrap";

.section__padding {
  padding-bottom: 2rem;
}

.position__relative {
  position: relative;
  z-index: 1;
}

.position__absolute {
  background-color: red;
  color: white;
  border-radius: 10px;

  position: absolute;
  top: 0;
  padding: 10px;
  z-index: 999;
}

.box__style {
  //   background-color: pink;

  .first__box {
    // background-color: red;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    > div:first-child {
      flex: 6;
      background-color: violet;
      padding: 5rem;
    }

    > div:nth-child(2) {
      flex: 2;
      background-color: purple;
      padding: 5rem;
      color: white;
    }
  }

  .second__box {
    background-color: yellow;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    > div:first-child {
      flex: 2;
      background-color: purple;
      padding: 5rem;
    }

    > div:nth-child(2) {
      flex: 2;
      background-color: blue;
      padding: 5rem;
      color: white;
    }

    > div:nth-child(3) {
      flex: 2;
      background-color: red;
      padding: 5rem;
      color: white;
    }
  }
}

.news__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > div:first-child {
    flex: 6;

    > ul {
      flex: 1;
      background-color: blue;
      color: white;
    }
  }

  .n__flex {
    display: flex;
    gap: 5;
    background-color: yellow;
  }

  .i__flex {
    display: flex;
    gap: 1rem;
    background-color: aqua;
  }

  .news__flex .bg__green {
    flex: 1;
  }

  .news__flex .news__flex {
    flex: 1;
  }

  .news__flex .bg__pink {
    flex: 1;
  }

  .news__flex .bg__red {
    flex: 2;
  }

  .img__list {
    max-height: 100px;
    width: 100%;
    object-fit: cover;
  }

  .img__cuisine {
    max-height: 450px;
    width: 100%;
    object-fit: contain;
  }

  .bg__green {
    background-color: green;
  }

  .bg__red {
    background-color: red;
  }

  .bg__blue {
    background-color: blue;
  }

  .bg__pink {
    background-color: pink;
  }
}
