@import "bootstrap/bootstrap";

.body__bg {
  background-color: aliceblue;
}

.section__padding {
  padding-bottom: 2rem;
}

// card css
.card__design {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.position__relative {
  position: relative;
  text-align: center;
  width: 30%;
}

.position__absolute {
  background-color: red;
  color: white;
  border-radius: 10px;

  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  padding: 10px 0 0 10px;
}

//layout css
.box__style {
  //   background-color: pink;

  .first__box {
    // background-color: red;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    > div:first-child {
      flex: 6;
      background-color: violet;
      padding: 5rem;
    }

    > div:nth-child(2) {
      flex: 2;
      background-color: purple;
      padding: 5rem;
      color: white;
    }
  }

  .second__box {
    background-color: yellow;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    > div:first-child {
      flex: 2;
      background-color: purple;
      padding: 5rem;
    }

    > div:nth-child(2) {
      flex: 2;
      background-color: blue;
      padding: 5rem;
      color: white;
    }

    > div:nth-child(3) {
      flex: 2;
      background-color: red;
      padding: 5rem;
      color: white;
    }
  }
}

//body css

// second wrapper
.main__wrapper {
  display: flex;
  gap: 2rem;
  .second__wrapper {
    flex: 3;
    .listing__design {
      list-style-type: none;
      display: flex;
      gap: 1rem;
      flex-direction: column;

      .listing__flex {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 8px;
        background-color: #f9f9f9;

        figure {
          margin: 0;

          img {
            max-height: 100px;
            max-width: 100px;
            object-fit: cover;
            border-radius: 4px;
          }
        }
      }
    }
  }

  // first wrapper

  .first__wrapper {
    display: flex;
    flex: 6;
    background-color: greenyellow;

    .content__wrapper {
      position: relative;
      background-color: yellow;
      padding: 0;
      margin: 0;

      figure {
        margin: 0;
        background-color: pink;
        padding: 0;

        img {
          max-height: 500px;
          width: 100%;
          object-fit: contain;
        }
      }

      .first__absolute {
        position: absolute;
        background-color: red;
        padding: 1rem;
        bottom: 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}
